body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#ccc;
color:white;
text-align:center;
padding:40px;
}

.services{
display:flex;
justify-content:center;
gap:20px;
padding:40px;
}

.box{
background:white;
padding:20px;
width:200px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
transition:0.3s;
cursor:pointer;
}

.box:hover{
transform:translateY(-10px);
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
>>>>>>> 78c53182121ec5eb19a86b97f4f532a7e1ae8e3f
}